In [1]:
import pandas as pd

In [2]:
advertising = pd.read_csv('TvMarketing.csv')

In [3]:
advertising.head()

      TV  Sales
0  230.1   22.1
1   44.5   10.4
2   17.2    9.3
3  151.5   18.5
4  180.8   12.9